* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
    margin-top: 100px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input input {
    width: 100%;
    padding: 5px;
}

button {
    color: black;
    background-color: greenyellow;
    border: none;
    padding: 10px 20px;
    width: 380px;
    margin-top: 10px;
    border-radius: 10px;
}

h1{
    font-size: 30px;
    padding: 10px;
  }